@charset "UTF-8";
	input[type="number"]::-webkit-inner-spin-button {
    	-webkit-appearance: none;
    	margin: 0;
	}

	body{
		margin: 0;
	}
	#mainpage {
		opacity:.6;
		position : absolute;
		top: 0px;
		z-index:-1;
	}
	#background{
		position : absolute;
		opacity:.3;
		background-image: url("../image/main/main_background.jpg");
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	#conference{
		position : absolute;
		display : inline;
		width: 12%;
		height: 15%;
		background-color: green;
		border-radius: 0px 0px 1000px 0px;
		text-align: left;
	}
	#conference>p{ font-size: 2.5vw; margin-block-start: 0.8em; }
	
	#decision {
		position: absolute;
		display: inline;
		width: 15%;
		height: 15%;
		left: 85%;
		background-color: aqua;
		border-radius: 0px 0px 0px 1000px;
		text-align: right;
	}
	
	#decision_alert {
		position: absolute;
		top: 250px;
    	left: 190px;
		background: orange;
		width: 200px;
		height: 280px;
	}
	
	#decision > p {
		font-size: 2.5vw;
		margin-block-start: 0.8em;
	}
	
	#decision_menu {
		background: lime;
		font-size: 20px;
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-top: 150px;
		width: 700px;
		height: 350px;
	}
	
	#decision_menu div {
		display: none;
	}
	
	#draft_doc, #settlement_progress, #settlement_wait, #settlement_complete {
		
	}
	
	#layer_one {
		background: orange;
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
		opacity: 0.7;
	}
	
	#calendar{
		position : absolute;
		display : inline;
		width: 15%;
		height: 15%;
		top: 85%;
		left: 42.5%;
		background-color: silver;
		border-radius: 1000px 1000px 0px 0px;
		text-align:center;
	}
	#calendar>p{ font-size: 2.5vw; margin-block-start: 1.5em; margin-block-end: 0em; }
	#myinfo{
		position : absolute;
		display : inline;
		left: 15%;
		display: none;
		z-index:2;
	}
	#userpageform{
		position : absolute;
		z-index:2;
	}
	
.mycontent {
    padding-inline-start: 0px;
}
.mycontent li{
	list-style: none;
	display: inline-block;
	font-weight: 700;
	border-left: 2px solid black;
	padding-left: 8px;	
	line-height: 85%;
}
.mycontent li:first-child{
	border: none;
}
.mycontent li a{
	text-decoration: none;
	color: black;
}
.mycontent li :hover{
	color: blue;
}

#conferenceform{
	display: none;
}

#decisionform{
	display: none;
}

#calendarform{
	display: none;
}